html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    color: #050505;
    text-align: justify;
}


.socials {
    font-size: 16px;
    /* margin-top: 60px; */
    /* margin-bottom: 20px; */
    margin-left: 30px;
    margin-right: 30px;
    color:rgb(80, 85, 107);
}

.noDesktop {
    display: none;
}
.socials a {
    font-size: 1.3rem;
    color: #809bcd;
    /* padding-left: 4rem; */
    /* padding-right: 4rem; */
    /* padding-bottom: 30px; */
}

.socials a:hover {
    color: rgb(80, 85, 107);
}
.socials .row {
    justify-content: space-evenly;
}

.caption {
    position: relative;
    left: 0%;
    top: 60%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.caption span.border {
    /* background-color: rgba(80, 85, 107, 0.7); */
    background-color: rgb(63, 48, 71, 0.7);
    color: #e5ebea;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
}

.caption span.border:hover {
    background-color: rgb(80, 85, 107);
}

.caption a:hover {
    text-decoration: none;
}

.card {
    /* border: none; */
    max-width: 300px;
    height: 100%;
}

.card-img-top {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.card-btn {
    position: relative;
    vertical-align: 100%;
}

.btn-theme {
    background-color: rgb(80, 85, 107);
    border: none;
    color: whitesmoke;
}

.btn-theme:hover {
    color: #809bcd;
}

.btn-theme-outline {
    background-color: none;
    border-color: rgb(80, 85, 107);
    color: rgb(80, 85, 107);
}

.btn-theme-outline:hover {
    background-color: rgb(80, 85, 107);
    color: whitesmoke;
}

#logo {
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.navbar {
    width: 100%;
    background-color: #809bcd;
    position: fixed;
    text-transform: uppercase;
    height: 40px;
    transition: top 0.3s;
}

.navbar-toggler {
    color: #30011E;
}

#mainNavbar li a {
    margin: 10px;
    color: rgb(63, 48, 71, 1);
}

#mainNavbar li a:hover {
    color: #FFFFFF;
    font-weight: 600;
}

#page {
    max-height: 640px;
    background-image: url("../img/banner-img.jpg");
    background-size: contain;
    opacity: 1;
    background-position: top 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: unset;
}

#banner {
    height: 250px;
    width: 100%;
    background-image: url("../img/bg-img.jpg");
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 0;
    padding-bottom: 0;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
}

#page {
    min-height: 720px;
}

.jumbotron {
    color: white;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(48, 48, 72, 0.7);
}

/* #intro {
    font-size: 1.5rem;
} */

.display-5 {
    /* text-transform: uppercase; */
}

h5 {
    text-transform: uppercase;
    /* text-align: center; */
}

.btn.btn-outline-success {
    color: rgb(24, 22, 49);
    border-color: rgb(24, 22, 49);
}

.btn.btn-outline-success:hover {
    background-color: #E71D2C;
}

#iconImages {
    color: #1286C2;
}

@media screen and (max-width: 990px) {
    .caption span.border {
        font-size: 1rem;
        padding: 2px;
        letter-spacing: 2px;
    }
    .bg {
        height: 580px;
    }
    .navbar {
        height: unset;
    }
    .jumbotron {
        height: unset;
    }
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 540px) {
    .card-img-top {
        display: none;
    }
    .card {
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        background-color: unset;
    }
    .jumbotron {
        padding-top: 50px;
        color: black;
        position: local;
    }
    .display-4 {
        font-size: 32px;
    }
    .display-5 {
        font-size: 25px;
    }
    .mobile {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .noMobile {
        display: none;
    }
    .noDesktop {
        display: unset;
    }
    #page {
        background-image: unset;
    }
}