html    {
    scroll-behavior: smooth;
}
body {
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    color: #050505;
    text-align: justify;
}
/* 
p {
    margin-top: 1rem;
    text-align: center;
} */
.caption {
    position: relative;
    left: 0%;
    top: 60%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  
  .caption span.border {
    /* background-color: rgba(80, 85, 107, 0.7); */
    background-color: rgb(63,48,71,0.7);
    color: #e5ebea;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  
  .caption span.border:hover {
    background-color: rgb(80, 85, 107);
  }
  
  .caption a:hover {
    text-decoration: none;
  }

.card {
    /* border: none; */
    max-width: 300px;
    height: 100%;
}
.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.card-btn {
    position: relative;
    vertical-align: 100%;
}
.btn-theme {
  background-color: rgb(80, 85, 107);
  border: none;
  color: whitesmoke;
}
.btn-theme:hover {
    color: #809bcd;
}
.btn-theme-outline {
    background-color:none;
    border-color: rgb(80, 85, 107);
    color: rgb(80, 85, 107);

}
.btn-theme-outline:hover {
    background-color: rgb(80, 85, 107);
    color: whitesmoke;
}
#logo {
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.navbar {
    width: 100%;
    background-color: #809bcd;
    position: fixed;
    text-transform: uppercase;
    height: 40px;
    transition: top 0.3s;
       
}

.navbar-toggler {
    color: #30011E;
}
#mainNavbar li a {
    margin: 10px;
    color: rgb(63,48,71,1);
}

#mainNavbar li a:hover {
    color: #FFFFFF;
    font-weight: 600;
}

.jumbotron {
    /* height: 275px; */
    /* width: 100%; */
    margin-top: 40px;
    background-image: url("../img/bg-img.jpg");
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: unset;
}

#intro {
    font-size: 1.8rem;
    /* font-weight: 700; */
    color: rgb(0, 0, 0);
    position: absolute;
    left: 0%;
    /* top: 23%; */
    width: 100%;
    text-align: left;
    align-content: center;
}

#page {
    min-height: 720px;
}
/* #intro {
    font-size: 1.5rem;
} */

.display-5 {
    /* color:#E71D2C; */
    font-weight: 700;
    /* text-transform: uppercase; */
}

h5 {
    text-transform: uppercase;
    /* text-align: center; */
}

.btn.btn-outline-success {
    color: rgb(24, 22, 49);
    border-color: rgb(24, 22, 49);
}
.btn.btn-outline-success:hover {
    background-color: #E71D2C;
}

#iconImages {
    color: #1286C2;
}

@media screen and (max-width: 990px) {
    .caption span.border {
        font-size: 1rem;
        padding: 2px;
        letter-spacing: 2px;
      }
      .bg {
        height: 580px;
      }
      .navbar {
          height: unset;
      }
      .jumbotron {
          height: unset;
      }
}
@media screen and (max-width: 720px) {
   }
@media screen and (max-width: 540px) {
    .card-img-top {
        display: none;
    }
}
